
<div class="panel panel-default">
    <div class="panel-heading">
        <%= @product.title %>
    </div>
    <div class="panel-body">
        <%= @product.description %>
        <%= @product.price %>
    </div>
</div>
